.topnav-con{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 20px;
    height: 40px;
    width: 80%;
}
.icon-container {
    display: flex;
    align-items: center;
  }

.profile-icon {
    font-size: 30px;
    color: #007bff; /* Color for profile icon */
    margin-right: 20px;
  }
  .profile-name {
    font-size: 20px;
    color: #333;
    margin-right: 20px;
  }

  .notification-icon {
    font-size: 30px;
    color: #ff5722;
    margin-right: 20px; /* Color for notification icon */
  }