.incident-card{
    height: 200px;
    width: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}