.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color:  #1457C3;
  overflow-x: hidden;
}

.form-container {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container h1 {
  font-size: 2rem;
  color: #333;
}

.form-container p {
  margin-bottom: 20px;
  color: #666;
}

form input,
form button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.age-postcode {
  display: flex;
  gap: 20px;
}

.age-postcode input {
  width: 50%;
}

.upload {
  margin: 20px 0;
}

form button {
  background-color: #06c;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.toastify-container {
  font-family: Arial, sans-serif;
}

.toastify-toast {
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.toastify-toast-success {
  background-color: #4CAF50;
  color: green;
}

.toastify-toast-error {
  background-color: #F44336;
}

.toastify-toast-info {
  background-color: #2196F3;
}

.toastify-toast-warning {
  background-color: #FFC107;
}

.toastify-toast .toastify-close-button {
  color: #fff;
}
.error-message{
  color: red;
  
}