.head-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.header-container {
    width:50%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-size: cover; 
  }
  
  .header-container p {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
  }
 
  .volunteer-btn {
    background-color: white;
    color:black;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease; 
  }
  .volunteer-btn:hover {
    background-color: #4CAF50; 
    color: white; 
}
  
  .incident-btn {
    background-color: #e63946;
    color: white;
    border: none;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; 
  }

  
  .started-container{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }