.incident-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.incident-report-container {
    display: flex;
    
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    background-color: whitesmoke;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

  }
  
  .form-section {
    flex: 1;
    padding: 20px;
  }
  
  .map-section {
    flex: 1;
    padding: 20px;
    /* background-color: #81b1fa; */
    display: flex;
    justify-content: center;
  align-items: center;
  width: 100%;

  }
  
  h2 {
    color: #333;
    font-size: 24px;
  }
  
  p {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-group input[type="text"],
  .form-group input[type="file"],
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .radio-group {
    display: flex;
    gap: 14px;
  }
  .radio-group label{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
   color: #666;
  }
  .radio-group input{
    margin-right: 15px;
  }
  .submit-button {
    background-color: #06c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
  }
/* index.css */

.toastify-container {
  font-family: Arial, sans-serif !important;
}

.toastify-toast {
  background-color: #333 !important; /* Dark background for the toast */
  color: #fff !important; /* White text */
  border-radius: 8px !important;
  padding: 16px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}


.toastify-toast-success {
  background-color: #4CAF50; /* Green background for success */
}

.toastify-toast-error {
  background-color: #F44336; /* Red background for error */
}

.toastify-toast-info {
  background-color: #2196F3; /* Blue background for info */
}

.toastify-toast-warning {
  background-color: red; /* Orange background for warning */
}

.toastify-toast .toastify-close-button {
  color: #fff; /* White close button */
}
