.container-app {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
    
  }

    
  .map-section {
    flex: 1;
    padding: 20px;
    /* background-color: #81b1fa; */
    display: flex;
    justify-content: center;
  align-items: center;
  width: 300%;

  }