@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Risque&display=swap");
.contactSection {
  background-color:#fdfbf5;
  display: flex;
  flex-direction: column;
  color: #dda15e;
  font-weight: 400;
  justify-content: flex-start;
  align-items: center;
  padding: 38px 63px;
  height: 400px;
  width: 100%;
}

@media (max-width: 991px) {
  .contactSection {
    padding: 0 20px;
  }
}

.contentWrapper {
  align-self: center;
  display: flex;
  width: 799px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  object-position: center;
  width: 50px;
  width: 80px;
border-radius: 60%; 
object-fit: cover; 
}

.mainHeading {
  margin-top: 26px;
  font-family: "Risque", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin: 10px auto;

}

.subHeading {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 10px auto;
 
}

.socialIcons {
  display: flex;
  width: 256px;
  max-width: 100%;
  gap: 20px;
  color:#fdfbf5;
  white-space: nowrap;
  background-color:  #dda15e;
  padding: 30px;

  justify-content: space-between;
  margin: 21px 0 0 18px;
  font: 44px Font Awesome 5 Brands, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .socialIcons {
    white-space: initial;
  }
}

.socialIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 43px;
  margin: auto 0;
}

.contactInfo {
  display: flex;
  margin-top: auto;
  width: 356px;
  max-width: 100%;
  flex-direction: column;
  align-self: flex-start;
  justify-content: start;
  font: 25px Roboto, sans-serif;
}

@media (max-width: 991px) {
  .contactInfo {
    margin-top: 40px;
    white-space: initial;
  }
}

.emailWrapper {
  display: flex;
  width: 100%;
  align-items: end;
  gap: 22px;
  line-height: 1;
  justify-content: start;
}

@media (max-width: 991px) {
  .emailWrapper {
    white-space: initial;
  }
}

.emailIcon {
  aspect-ratio: 0.97;
  object-fit: contain;
  object-position: center;
  width: 29px;
}

.emailAddress {
  align-self: stretch;
  min-width: 240px;
}

@media (max-width: 991px) {
  .emailAddress {
    white-space: initial;
  }
}

.phoneWrapper {
  display: flex;
  width: 219px;
  max-width: 100%;
  flex-direction: column;
  line-height: 28px;
  justify-content: center;
  padding: 3px 16px;
}

@media (max-width: 991px) {
  .phoneWrapper {
    white-space: initial;
  }
}

.phoneNumber {
  border-radius: 0;
  width: 100%;
  padding: 0 32px 31px;
}

@media (max-width: 991px) {
  .phoneNumber {
    white-space: initial;
    padding: 0 20px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.link {
  text-decoration: none;
  font-size: 18px;
  color: #dda15e;
  font-style: normal;
}
