
.login-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
    border-radius: 8px;
    background-image: linear-gradient(to right, #dda15e 50%, #fdfbf5 50%);
    position: relative;
}

.image-con{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 20px;
}
.image1{
    height: 200px;
    width:200px;
    margin: 10px;
}
.image2{
    height:300px;
    width: 250px;
    margin: 10px;
}
.login-form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
    padding-right: 40px;
    height: 350px; /* Adjust width as needed */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-login {
    background-color: #dda15e;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: center;
    font-size: 16px;
}


.password-container{
    display: flex;
    justify-content: flex-end;
}
.pass{
    color: red;
    font-size: 15px;
}.logo-image{

    position: absolute;
    left: 20px;
    top: 20px;
    /* border-radius: 90%; */
    /* height: 90px;
    width: 90px; */
}
