.tips-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.tips-card-con{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}
.tips-card1{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 300;
    width: 20%;
    height: 60%;
    background-color: #1457c3;
    border-radius: 15px;
  


}
.tips-card2{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    width: 20%;
    height: 50%;
    background-color: #1666fb;
    border-radius: 15px;
   

}
.tips-card3{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 300;
    width: 20%;
    height: 50%;
    background-color: #81b1fa;
    border-radius: 15px;


}
.heading-tips{
    font-size: 20px;
    font-size: 20px;
    color: white;
}